@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <style>
        
        body {
            background-image: url('Images/BikiniBottom.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #a594da;
        } 
        .img-fluid{
            max-width: 100%;
            height: auto;
        }
       
    </style>
</head>
<body>
</body>
